app/pnpm-lock.yaml
.vscode

.DS_Store
node_modules
/build
dist
# /.svelte-kit

.env
/package
.env.*
!.env.example

vite.config.js.timestamp-*
vite.config.ts.timestamp-*
.vercel
.cloudflare

.env.local
